{% load static %}
<!Doctype>
<html>
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>
    <p>The queryset object:</p>
    {{ mymembers }}

    <p>Loop through the items:</p>

    <table border="1">
    <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
    </tr>
    {% for member in mymembers %}
        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.first_name }}</td>
            <td>{{ member.last_name }}</td>
            <td>{{ member.phone }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
